{% extends 'layout.html.twig' %}

{% block title %}Registro de Ejercicio{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h1 class="card-title text-center">Registro de Ejercicio</h1>
            
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% for ejercicio in form.ejercicio %}
                <div class="form-group">
                    {{ form_widget(ejercicio, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(ejercicio) }}
                </div>
            {% endfor %}

            <div class="form-group">
                {{ form_row(form.duracionMinutos, { 'label': 'Duración (minutos)', 'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_row(form._token) }}

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

            {{ form_end(form) }}

            {% if caloriasQuemadas is not null %}
                <div class="mt-4 text-center">
                    <p>Calorías quemadas: {{ caloriasQuemadas }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
